repos:
  - repo: https://github.com/mrsimonemms/pre-commit-hooks
    rev: v1.1.0
    hooks:
      - id: license-eye
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: pretty-format-json
        args:
          - --autofix
          - --no-sort-keys
      - id: check-json
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.4.0
    hooks:
      - id: conventional-pre-commit
        stages:
          - commit-msg
  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: markdown-toc
        exclude: ^src/content
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.9.2
    hooks:
      - id: markdownlint-cli2
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args:
          - --plugin
          - prettier-plugin-svelte
          - --plugin
          - prettier-plugin-organize-imports
        stages:
          - pre-commit
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.49.0'
    hooks:
      - id: eslint
        files: \.([jt]sx?|svelte)$ # *.js, *.jsx *.ts, *.tsx and *.svelte
        types: [file]
